assets/html/gravity-form.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Other page</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <!--Stylesheet-->
    <link href="../css/screen.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="wrapper">
      <header id="header">
        <div class="container">
          <div class="row"><a class="link-panel"><span></span></a>
            <div class="col-sm-3 col-md-2 logo"><a href="#"><img src="../images/login-logo.png"></a></div>
            <div class="col-sm-9 col-md-10">
              <nav id="main-menu">
                <ul>
                  <li class="current-menu-item"><a href="#">Home</a></li>
                  <li><a href="#">Contact</a></li>
                  <li class="menu-item-has-children"><a href="#">Product</a><span class="icon"></span>
                    <ul class="sub-menu">
                      <li class="menu-item-has-children"><a href="#" title="">Dit is een sub menu</a><span class="icon"></span>
                        <ul class="sub-menu">
                          <li><a href="#" title="">Dit is een sub sub menu</a></li>
                          <li><a href="#" title="">Dit is een sub sub menu</a></li>
                        </ul>
                      </li>
                      <li><a href="#" title="">Dit is een sub menu</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <main id="main" class="other-page">
        <div class="container">
          <div class="wp-editor">
            <div class="gform_wrapper">
              <form action="#">
                <div class="validation_error">Message error</div>
                <div class="gform_heading">
                  <h3 class="gform_title">Title form</h3><span class="gform_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, suscipit!</span>
                </div>
                <div class="gform_body">
                  <ul class="gform_fields">
                    <li class="gfield gfield_contains_required">
                      <label class="gfield_label">Date</label>
                      <div class="ginput_container">
                        <input id="datepicker" type="text">
                      </div>
                    </li>
                    <li class="gfield gfield_error gfield_contains_required">
                      <label class="gfield_label">Input text<span class="gfield_required">*</span></label>
                      <div class="ginput_container">
                        <input type="text" placeholder="Lorem ipsum dolor">
                      </div>
                      <div class="validation_message">Validate message</div>
                    </li>
                    <li class="gfield gfield_error gfield_contains_required">
                      <label class="gfield_label">Area box<span class="gfield_required">*</span></label>
                      <div class="ginput_container">
                        <textarea placeholder="Lorem ipsum dolor"></textarea>
                      </div>
                      <div class="validation_message">Validate message</div>
                    </li>
                    <li class="gfield gfield_error gfield_contains_required">
                      <label class="gfield_label">Selectbox<span class="gfield_required">*</span></label>
                      <div class="ginput_container ginput_container_select">
                        <select>
                          <option>Option A</option>
                          <option>Option B</option>
                          <option>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, suscipit</option>
                        </select>
                      </div>
                      <div class="validation_message">Validate message</div>
                    </li>
                    <li class="gfield gfield_error gfield_contains_required">
                      <label class="gfield_label">Radio input<span class="gfield_required">*</span></label>
                      <div class="ginput_container ginput_container_radio">
                        <ul class="gfield_radio">
                          <li>
                            <input id="radio1" type="radio" name="radio">
                            <label for="radio1">Lorem ipsum</label>
                          </li>
                          <li>
                            <input id="radio2" type="radio" name="radio">
                            <label for="radio2">Lorem ipsum</label>
                          </li>
                          <li>
                            <input id="radio3" type="radio" name="radio">
                            <label for="radio3">Lorem ipsum</label>
                          </li>
                        </ul>
                      </div>
                      <div class="validation_message">Validate message</div>
                    </li>
                    <li class="gfield gfield_error gfield_contains_required">
                      <label class="gfield_label">Checkbox input<span class="gfield_required">*</span></label>
                      <div class="ginput_container ginput_container_checkbox">
                        <ul class="gfield_checkbox">
                          <li>
                            <input id="checkbox1" type="checkbox" name="checkbox">
                            <label for="checkbox1">Lorem ipsum</label>
                          </li>
                          <li>
                            <input id="checkbox2" type="checkbox" name="checkbox">
                            <label for="checkbox2">Lorem ipsum</label>
                          </li>
                          <li>
                            <input id="checkbox3" type="checkbox" name="checkbox">
                            <label for="checkbox3">Lorem ipsum</label>
                          </li>
                        </ul>
                      </div>
                      <div class="validation_message">Validate message</div>
                    </li>
                  </ul>
                </div>
              </form>
              <div class="gform_footer">
                <input type="submit" value="submit" class="gform_button">
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer id="footer">
        <div class="container">Footer content</div>
      </footer>
    </div>
    <script src="../js/libs/jQuery.js"></script>
    <script src="../js/main.min.js"></script>
  </body>
</html>

assets/jade/blocks/gravity-form.jade
.gform_wrapper
    form(action="#")
        .validation_error Message error
        .gform_heading
            h3.gform_title Title form
            span.gform_description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, suscipit!
        .gform_body
            ul.gform_fields
                li.gfield.gfield_contains_required
                    label.gfield_label Date
                    .ginput_container
                        input#datepicker(type="text")
                li.gfield.gfield_error.gfield_contains_required
                    label.gfield_label Input text
                        span.gfield_required *
                    .ginput_container
                        input(type="text" placeholder="Lorem ipsum dolor")
                    .validation_message Validate message
                li.gfield.gfield_error.gfield_contains_required
                    label.gfield_label Area box
                        span.gfield_required *
                    .ginput_container
                        textarea(placeholder="Lorem ipsum dolor")
                    .validation_message Validate message
                li.gfield.gfield_error.gfield_contains_required
                    label.gfield_label Selectbox
                        span.gfield_required *
                    .ginput_container.ginput_container_select
                        select
                            option Option A
                            option Option B
                            option Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, suscipit
                    .validation_message Validate message
                li.gfield.gfield_error.gfield_contains_required
                    label.gfield_label Radio input
                        span.gfield_required *
                    .ginput_container.ginput_container_radio
                        ul.gfield_radio
                            li
                                input#radio1(type="radio" name="radio")
                                label(for="radio1") Lorem ipsum
                            li
                                input#radio2(type="radio" name="radio")
                                label(for="radio2") Lorem ipsum
                            li
                                input#radio3(type="radio" name="radio")
                                label(for="radio3") Lorem ipsum
                    .validation_message Validate message
                li.gfield.gfield_error.gfield_contains_required
                    label.gfield_label Checkbox input
                        span.gfield_required *
                    .ginput_container.ginput_container_checkbox
                        ul.gfield_checkbox
                            li
                                input#checkbox1(type="checkbox" name="checkbox")
                                label(for="checkbox1") Lorem ipsum
                            li
                                input#checkbox2(type="checkbox" name="checkbox")
                                label(for="checkbox2") Lorem ipsum
                            li
                                input#checkbox3(type="checkbox" name="checkbox")
                                label(for="checkbox3") Lorem ipsum
                    .validation_message Validate message

    .gform_footer
        input(type="submit" value="submit").gform_button
