assets/jade/index.jade
extends blocks/layout
block vars
    - var mainClass = 'home-page';
block title
    title Home page
block content

    main#main(class="#{mainClass}")
        .container
            .row
                .col-sm-2
                    include blocks/sidebar
                .col-sm-10
                    h2 Grid bootstrap
                    br
                    .row
                        .col-sm-4 Column A
                        .col-sm-4 Column B
                        .col-sm-4 Column C
                    hr
                    h2 Grid mixin
                    br
                    .grid-mixin
                        .block-grid-item Column A1
                        .block-grid-item Column B1
                        .block-grid-item Column C1
                        .block-grid-item Column A1
                        .block-grid-item Column B1
                        .block-grid-item Column C1
                    hr
                    h2#block-2 Equalize element
                    br
                    ul.test-equalize
                        li
                            .inner
                                h3 Title card
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, minus. Quisquam incidunt iusto libero quam explicabo mollitia quis quibusdam iure.
                        li
                            .inner
                                h3 Title card
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A illo, voluptatibus quidem eos in laborum ullam veritatis aperiam magnam fugit molestias officiis numquam dolor nulla, quaerat eum soluta ipsa explicabo.
                        li
                            .inner
                                h3 Title card
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sint eius maiores vero nostrum corporis, repellendus, animi deserunt harum dolorum natus, ullam, voluptates voluptatibus sed debitis earum necessitatibus accusantium consequuntur cupiditate eveniet commodi quos non. Odit distinctio minus, dolore omnis.
                    include blocks/wp-editor
                    include blocks/paging

assets/html/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home page</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <!--Stylesheet-->
    <link href="../css/screen.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="wrapper">
      <header id="header">
        <div class="container">
          <div class="row"><a class="link-panel"><span></span></a>
            <div class="col-sm-3 col-md-2 logo"><a href="#"><img src="../images/login-logo.png"></a></div>
            <div class="col-sm-9 col-md-10">
              <nav id="main-menu">
                <ul>
                  <li class="current-menu-item"><a href="#">Home</a></li>
                  <li><a href="#">Contact</a></li>
                  <li class="menu-item-has-children"><a href="#">Product</a><span class="icon"></span>
                    <ul class="sub-menu">
                      <li class="menu-item-has-children"><a href="#" title="">Dit is een sub menu</a><span class="icon"></span>
                        <ul class="sub-menu">
                          <li><a href="#" title="">Dit is een sub sub menu</a></li>
                          <li><a href="#" title="">Dit is een sub sub menu</a></li>
                        </ul>
                      </li>
                      <li><a href="#" title="">Dit is een sub menu</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <main id="main" class="home-page">
        <div class="container">
          <div class="row">
            <div class="col-sm-2">
              <aside>Sidebar content</aside>
            </div>
            <div class="col-sm-10">
              <h2>Grid bootstrap</h2><br>
              <div class="row">
                <div class="col-sm-4">Column A</div>
                <div class="col-sm-4">Column B</div>
                <div class="col-sm-4">Column C</div>
              </div>
              <hr>
              <h2>Grid mixin</h2><br>
              <div class="grid-mixin">
                <div class="block-grid-item">Column A1</div>
                <div class="block-grid-item">Column B1</div>
                <div class="block-grid-item">Column C1</div>
                <div class="block-grid-item">Column A1</div>
                <div class="block-grid-item">Column B1</div>
                <div class="block-grid-item">Column C1</div>
              </div>
              <hr>
              <h2 id="block-2">Equalize element</h2><br>
              <ul class="test-equalize">
                <li>
                  <div class="inner">
                    <h3>Title card</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, minus. Quisquam incidunt iusto libero quam explicabo mollitia quis quibusdam iure.</p>
                  </div>
                </li>
                <li>
                  <div class="inner">
                    <h3>Title card</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A illo, voluptatibus quidem eos in laborum ullam veritatis aperiam magnam fugit molestias officiis numquam dolor nulla, quaerat eum soluta ipsa explicabo.</p>
                  </div>
                </li>
                <li>
                  <div class="inner">
                    <h3>Title card</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sint eius maiores vero nostrum corporis, repellendus, animi deserunt harum dolorum natus, ullam, voluptates voluptatibus sed debitis earum necessitatibus accusantium consequuntur cupiditate eveniet commodi quos non. Odit distinctio minus, dolore omnis.</p>
                  </div>
                </li>
              </ul>
              <div class="wp-editor">
                <h1>Heading h1</h1>
                <h2>Heading h2</h2>
                <h3>Heading h3</h3>
                <h4>Heading h4</h4>
                <h5>Heading h5</h5>
                <h6>Heading h6</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam iusto enim illo voluptate iure harum cumque, ullam, nostrum vero facilis!<a href="#"> This is text link</a></p>
                <blockquote>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam iusto enim illo voluptate iure harum cumque, ullam,<a href="#">nostrum vero facilis!</a></p>
                </blockquote>
                <ul>
                  <li>Lorem ipsum dolor sit amet.</li>
                  <li>Lorem ipsum dolor sit amet.</li>
                  <li>Lorem ipsum dolor sit amet.</li>
                </ul>
                <ol>
                  <li>Lorem ipsum dolor sit amet.</li>
                  <li>Lorem ipsum dolor sit amet.</li>
                  <li>Lorem ipsum dolor sit amet.</li>
                </ol>
                <table>
                  <tr>
                    <th>Table Heading</th>
                    <th>Table Heading</th>
                    <th>Table Heading</th>
                  </tr>
                  <tr>
                    <td>Table content</td>
                    <td>Table content</td>
                    <td>Table content</td>
                  </tr>
                  <tr>
                    <td>Table content</td>
                    <td>Table content</td>
                    <td>Table content</td>
                  </tr>
                </table>
                <table>
                  <thead>
                    <tr>
                      <td>Table content</td>
                      <td>Table content</td>
                      <td>Table content</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Table content</td>
                      <td>Table content</td>
                      <td>Table content</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="pagination"><a href="#" class="prev">Previous page</a><span class="page-numbers current">1</span><a href="#" class="page-numbers">2</a><a href="#" class="page-numbers">3</a><span class="page-numbers">...</span><a href="#" class="page-numbers">99</a><a href="#" class="next">Next page</a></div>
            </div>
          </div>
        </div>
      </main>
      <footer id="footer">
        <div class="container">Footer content</div>
      </footer>
    </div>
    <script src="../js/libs/jQuery.js"></script>
    <script src="../js/main.min.js"></script>
  </body>
</html>
